@charset "utf-8";
*{
 	margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Isidora Sans';  
	scroll-behavior: smooth;
}
body {
	max-height: 100vh;
	display: block;
}
section {
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	max-height: 100vh;
	float: inherit;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}
section:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section img
{
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
}
#text
{
    position: relative;
    color: #fff;
    font-size: 10vw;
    z-index: 2;
    font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	display: inherit;
}
#SeaHero
{
    z-index: 2;
}

#CubeHero 
{
	z-index: 3;
}
#MountainHero
{
	z-index: 1;
}
#SkyHero
{
	z-index: 0;
}
#ReflectionHero
{
	z-index: 4;
}
#HandHero
{
	z-index: 5;
}
nav {
  margin: auto 0 auto .9375rem;
  position: fixed;
  top: 50vh;
  transform: translate3d(0, -50%, 0);
  z-index: 10200;
  display: none;
}
@media (min-width:48rem) {
  nav {
    display: inherit
  }
}
nav .nav-label {
  top: -15px;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg) translate3d(0, -50%, 0);
  transform-origin: 0 0;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: .6875rem;
  letter-spacing: .15625rem;
  line-height: 1.0625rem;
  font-weight: 700
}
@media (min-width:48rem) {
  nav .nav-label {
    letter-spacing: .25rem;
    font-size: .75rem
  }
}
nav ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, .2);
  display: block;
  margin: 0;
  padding: 6px 9px;
  border-radius: 50px;
}
nav ul li {
  margin: 0;
  padding: 0
}
nav ul li a {
  margin: 5px 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: 2px solid hsla(0, 0%, 100%, 0);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
  transition: all .5s cubic-bezier(.215, .61, .355, 1) 0s
}
nav ul li a:hover {
  border: 2px solid #fff;
  transform: scale(.85);
  opacity: 1
}
nav ul li a span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px
}
nav ul li a p {
  display: none
}
nav ul li.active a, nav ul li.active a:hover {
  border: 2px solid #fff;
  transform: scale(1);
  opacity: 1
}
.Vidtext
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden; 
	scroll-padding-top: 0;
	scroll-padding-bottom: 0;
	scroll-padding-left: 0;
	scroll-padding-right: 0;
	pointer-events: none;
	display: inline-block;
}
.Vidtext video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 6 !important;
	visibility: inherit;
	display: inline-block;
	margin: auto;
}
.Vidtext h2
{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 25vw;
	text-align: center;
	font-weight: 800;
	line-height: 0.85em;
	color: #fff;
	background-color: rgba(0,0,0,1);
	mix-blend-mode: multiply;
	opacity: 1;
	z-index: 7;
	margin: auto;
	transform: translateY(0%);
}
.Vidtext h2 span
{
	font-size: 5vw;
	line-height: 1.2em;
	display: flex;
	transform: translateY(17%);
}
label .menu {
  position: fixed;	
  right: -100px;
  top: -85px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul {
  opacity: 1;
}
label ul {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
	list-style-type: none;
}
label .homebtn{
	margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
	font-size: 3vw;
	position: relative;
	text-align: center;
}
label .homebtn:after
{
	content: '';
	position: absolute;
	width: 60%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 3vw;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
	margin-left: auto;
}
label .homebtn:hover:after
{
	transform: scaleX(1);
  transform-origin: bottom left;
}
label .storybtn{
	margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
	font-size: 3vw;
	position: relative;
	text-align: center;
}
label .storybtn:after
{
	content: '';
	position: absolute;
	width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 3.6vw;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
label .storybtn:hover:after
{
	transform: scaleX(1);
  transform-origin: bottom left;
}
label .characterbtn{
	margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
	font-size: 3vw;
	position: relative;
	text-align: center;
}
label .characterbtn:after
{
	content: '';
	position: absolute;
	width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
label .characterbtn:hover:after
{
	transform: scaleX(1);
  transform-origin: bottom left;
}
.skewbox
{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    display: inline-flex;
}
.content
{
    width: calc(50% - 50px);
    height: 100%;
    background-color: white;
    padding: 2% 5%;
    line-height: 1.7em;
    font-size: 25px;
    text-align: justify;
    transform: translate(105%);
    float: left;
	display: inline-block;
	position: absolute;
}
.imagebox
{
    width: calc(50% + 50px);
    height: 100%;
    background-color: rgb(31, 223, 223);
    border-right: 50vh solid white;
    border-bottom: 100vh solid transparent;
    background-image: url("Images/Palace Inside.jpg");
    background-repeat: no-repeat;
    background-size: 150vh;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
h1
{
    text-transform: uppercase;
	position: relative;
}
audio
{
	position: relative;
	margin: auto;
	z-index: 10000;
}
@media (max-width: 991px) {
	.content
    {
		margin-top: 25px;
		margin-right: auto;
		margin-left: auto;
        padding: none;
		float: center;
		background-color: white;
		min-width: 60vw;
		min-height: 80vh;
		font-size: 15px;
		text-align: center;
		transform: translateX(30%);
		line-height: 2em;
    }
	audio
	{
		margin: auto;
	}
	.imagebox
    {
        padding: none;
		border: none;
		float: center;
		margin: auto;
		width: 80vw;
		height: 50vh;
		background-size: 100%;
		transform: translate(12%, 90%);
		position: absolute;
		z-index: 1000;
	}
}